/* Include Foundation */
@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

body {
    // background: #808080;
    background: #ff0000;
    font-family: 'Cinzel', serif;
    height: 100%;
}

header {
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    margin: 0 0 150px 0;
    font-size: 3em;
    opacity: 0.8;

    nav {
        background: #000000;

        a {
          @include breakpoint(small) {
            font-size: 1em;
            text-decoration: none;
            color: #ffffff;
          }
        }
    }
}

.landing {
  @include breakpoint(small) {
    font-size: 1.5em;
    img {
      width: 150px;
    }
    @include breakpoint(large) {
      font-size: 1em;
      img {
        width: 50px;
      }
    }
  }
}

.secondary-header {
  @include breakpoint(small) {
    @include grid-column(12);
    background-color: #000000;
    color: #ffffff;
  }
  @include breakpoint(large) {
    margin-top: 0;
  }
}

#about, #experience, #contact {
  @include breakpoint(small) {
    font-size: 3.5em;
    text-align: center;
  }
  @include breakpoint(medium) {
    font-size: 3em;
    text-align: center;
  }
  @include breakpoint(large) {
    font-size: 1.5em;
    text-align: center;
    overflow: scroll;
  }
}

#about, #experience {
  height: 100vh;
}

.about_paragraph {
  margin: 0 100px;
}

#experience img {
  @include breakpoint(small) {
    margin: 5px;
    border: 1px #000000 solid;
  }
  @include breakpoint(large) {
    margin: 5px;
    border: 1px #000000 solid;
    max-width: 400px;
  }
}

#contact {
  @include breakpoint(small) {
    img {
      width: 150px;
    }
  }
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 2%;
    background-color: #000000;
    color: #ffffff;
}
